fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
alembic
pydantic[email]
python-jose[cryptography]
python-multipart
requests
celery
redis
pika
python-dotenv
aiohttp
fastapi-mail
opencv-python-headless
passlib==1.7.4
bcrypt==3.2.0
